@import '../../../../styles/global.scss';
@import '../../../../styles/colors.scss';

.main-container {
  margin: $header-height auto;
  min-height: 100px;
}

.intro-text {
  display: inline-block;
}

.intro-image {
  height: 200px;

  img {
    height: 100%;
  }
}

.badge-info {
  background: transparent;
  border: 1px solid;
  border-color: #17a2b8;
  color: #17a2b8;
  padding: .39em .6em;
}

.badge-primary {
  background: transparent;
  border: 1px solid;
  border-color: #007bff;
  color: #007bff;
  padding: .39em .6em;
}

.badge-secondary {
  background: transparent;
  border: 1px solid;
  border-color: #6c757d;
  color: #6c757d;
  padding: .39em .6em;
}

.badge-success {
  background: transparent;
  border: 1px solid;
  border-color: #28a745;
  color: #28a745;
  padding: .39em .6em;
}

.badge-danger {
  background: transparent;
  border: 1px solid;
  border-color: #dc3545;
  color: #dc3545;
  padding: .39em .6em;
}

.badge-warning {
  background: transparent;
  border: 1px solid;
  border-color: #ffc107;
  color: #ffc107;
  padding: .39em .6em;
}


