<nav class="navbar fixed-top navbar-expand-lg navbar-light" [ngClass]="{'scrolling': isScrollingDown}">
  <div class="navbar-container">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="navbar-brand" routerLink="/new">
            <img alt="Bart's Local Application Development Environment"
                 src="data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS40MiAxOS41Ij4KICAgIDxkZWZzPgogICAgICAgIDxzdHlsZT4uY2xzLTF7ZmlsbDojYzIyMzI3O308L3N0eWxlPgogICAgPC9kZWZzPgogICAgPHRpdGxlPmJhY2tiYXNlPC90aXRsZT4KICAgIDxwYXRoIGNsYXNzPSJjbHMtMSIKICAgICAgICAgIGQ9Ik00MCwxMC43SDIzTDI1LjQsMTVIMzcuOWMuMywwLDEsLjEsMSwxLjF2OC44YzAsMS0uNywxLjEtMSwxLjFIMjMuNVYyMi40SDM1LjN2LTRIMjMuMmwtNC42LTcuN0gxMy43bDUuNSw5LjZ2OS45SDQwLjFjMS45LDAsMy0xLjYsMy00LjlWMTVjLjItMi45LS45LTQuMy0zLjEtNC4zIgogICAgICAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEzLjcgLTEwLjcpIi8+Cjwvc3ZnPg=="
                 class="navbar-brand-logo">
            <img class="navbar-brand-logo-full" alt="Bart's Local Application Development Environment" src="assets/images/backbase-logo.png">
            <span class="navbar-brand-spacer color-backbase-primary">/</span>
            <span class="navbar-brand-text">Blade</span>
          </a>
        </div>
        <div class="col text-right">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://github.com/Backbase/blade">Documentation</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

