.btn {
  border-radius: 4px;

  &.btn-primary {
    background-color: $primary-blue;
    border: none;
    color: $white;
    font-weight: 500; 

    &[disabled] {
      background-color: $muted-grey;
      color: $disabled-button-text-color;
    }
  }

  &.btn-default {
    border: 1px solid $primary-blue;
    color: $primary-blue;
  }

  &.btn-large {
    padding: 18px 30px;
  }
}

.start-bb-form .btn.btn-dark .icon-check {
  display: inline-block;
  position: relative;
  background-color: white;
  opacity: 1;
  top: 3px;
  left: 0;
  margin-right: 10px;
}
