$white: white;
$black: black;

$primary-red: #BA1F23;
$primary-blue: #1281AC;

$green: #759a3d; 
$orange: #ef8123;
$cyan: #3ebbed;

$darkest-grey: #737373;
$grey: #999;
$mid-grey: #d5d5d5;
$muted-grey: #eee;
$light-grey: #f1f1f0;
$lightest-grey: #f7f8f9;

$darkest-blue: #135475; 
$blue: #156188;
$blue-grey: #e1e4e9;
$light-blue: #65cff8;

// special
$disabled-button-text-color: #999;

// $primary-red:  #c22327;
// $primary-dark-brown: #302f2b;

// $secondary-off-white: #f3f3f3;

// $secondary-light-grey: #E0E1E4;
// $secondary-mid-grey: #999999;
// $secondary-grey: #737373;

// $secondary-blue: #1281ac;
// $secondary-blue-grey: #e1e4e9;
// $secondary-orange: #e24b2c;
// $secondary-green: #759a3d;

// $light-blue: #65cff8;
// $light-grey: #f1f1f0;

// $border-grey: #E1E4E9;

// $disabled-button-color: #EEEEEE;
// $disabled-button-font-color: 999999#;
// $primary-button-color: #1281AC;
