// Icons

$asset-path: "./assets/icons";

$icon-cxp: '#{$asset-path}/cxp-grey.svg';
$icon-dbs: '#{$asset-path}/dbs-grey.svg';
$icon-forms: '#{$asset-path}/forms-grey.svg';
$icon-check: '#{$asset-path}/check-grey.svg';
$icon-custom: '#{$asset-path}/custom-grey.svg';
$icon-template: '#{$asset-path}/template-grey.svg';
$icon-product-summary: '#{$asset-path}/product-summary.svg';
$icon-actions: '#{$asset-path}/actions.svg';
$icon-audit: '#{$asset-path}/audit.svg';
$icon-contacts: '#{$asset-path}/contacts.svg';
$icon-entitlements: '#{$asset-path}/entitlements.svg';
$icon-limits: '#{$asset-path}/limits.svg';
$icon-messages: '#{$asset-path}/messages.svg';
$icon-notifications: '#{$asset-path}/notifications.svg';
$icon-transactions: '#{$asset-path}/transactions.svg';
$icon-portfolio: '#{$asset-path}/portfolio.svg';
$icon-payments: '#{$asset-path}/payments.svg';
